# Django Settings
DJANGO_SECRET_KEY='your-secret-key-here'

# Email Settings
EMAIL_HOST_PASSWORD='your-email-app-password'

# Twilio Settings
TWILIO_ACCOUNT_SID='your-twilio-sid'
TWILIO_AUTH_TOKEN='your-twilio-auth-token'
TWILIO_PHONE_NUMBER='your-twilio-phone-number'

# Razorpay Settings
RAZORPAY_KEY_ID='your-razorpay-key-id'
RAZORPAY_KEY_SECRET='your-razorpay-key-secret'
